<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
  <div class="container">
    <div>
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Sua agenda está abaixo.</p>
    </div>
    <div class="table-responsive-sm">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% contacts.forEach(obj => { %> 
            <tr>
              <td><%= obj.nome %></td>
              <td><%= obj.sobrenome %></td>
              <td><%= obj.email %></td>
              <td><%= obj.telefone %></td>
              <td><a class="link-primary" href="/editar-contato/<%= obj._id %>">Editar</a></td>
              <td><a class="link-danger" href="/delete/<%= obj._id %>">Deletar</a></td>
            </tr>
          <% });%> 
        </tbody>
      </table>
    </div>
  </div>
<%- include('includes/footer.ejs') %>