<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 my-3">
        <h1 class="text-center">Agenda</h1>
        <p class="text-center lead">Sua agenda está abaixo.</p>
        <div class="row">
          <div class="col my-3">
            <div class="responsive-table">
              <table class="table my-3">
                <tr>
                  <th>Nome</th>
                  <th>Sobrenome</th>
                  <th>Email</th>
                  <th>Telefone</th>
                  <th></th>
                  <th></th>
                </tr>
                <% contacts.forEach(obj => { %> 
                  <tr>
                    <td><%= obj.nome %></td>
                    <td><%= obj.sobrenome %></td>
                    <td><%= obj.email %></td>
                    <td><%= obj.telefone %></td>
                    <td><a class="link-primary" href="/editar-contato/<%= obj._id %>">Editar</a></td>
                    <td><a class="link-danger" href="/delete/<%= obj._id %>">Deletar</a></td>
                  </tr>
                <% });%> 
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
<%- include('includes/footer.ejs') %>